::selection {
  background: #fd0; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fd0; /* WebKit/Blink Browsers */
}

a {
  font-weight: 500;
  text-underline-offset: .2rem;

  &:hover {
    text-decoration-thickness:  max(3px,.1875rem,.12em);
    text-decoration-skip-ink: none;
  }
}

.box-shadow { box-shadow: 0 1rem .75rem rgba(0, 0, 0, .05); }

main {
  min-height: 75vh;
}

header {
  border-bottom: 2px solid $secondary;
}

ul.list-unstyled {
  li {
    @extend .mb-2;
  }
}

.most-popular {
  @extend .list-unstyled;

  li a {
    line-height: 2rem;
  }
}

.services-grid {
  @extend .list-group-horizontal-md, .row;
  @include row-cols(2);

  @include media-breakpoint-up(md) {
    @include row-cols(3);
  }

  margin-left: 0;
  padding-left: 0;

  .service-box {
    @extend .list-group-item, .border-0;
    padding: 10px 10px 10px 0px;

    .wrapper {
      border-top: 1px solid #b1b4b6;
      padding: 15px 20px 10px 0;
      position: relative;
    }
  }
}
