/** Bootstrap **/
$primary: #043751;
$secondary:#E1AD01;
$light: #e9ecef;
$font-size-base: 1rem;
$font-family-base: "Roboto", sans-serif;
$font-weight-base: 300;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.20;
$h5-font-size: $font-size-base * 1.15;
$h5-font-size: $font-size-base * 1.1;
$headings-font-weight: 500;

$container-max-widths: (
  lg: 960px
);

